.newoffice {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    &__form {
      display: flex;
      align-items: center;
      flex-grow: 1;
  
      form {
        width: 100%;
  
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 36px;
        }
      }
    }
  }
  
  .full-width {
    width: 100%;
  }
  